:root {
  --white: #fff;
  --light-gray: #d6e2f0;
  --grayish-blue: #7b879d;
  --dark-blue: hsl(218, 44%, 22%);
}

/* Reset values */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
  width: 320px;
  height: 500px;
  padding: 1rem;
}

img {
  border-radius: 10px;
  width: 100%;
}

h1,
p {
  text-align: center;
}

h1 {
  color: var(--dark-blue);
  text-align: center;
  font-size: 1.4rem;
  padding: 1.25rem 0;
}

p {
  color: var(--grayish-blue);
  font-size: 0.95rem;
  margin: 0 1.25rem;
}
